html,body{
    margin:0;
    padding:0;
}
#register{
    position: absolute;
    left:1050px;
    top:70px;
}
.toRegister,.toLogin{
    float: right;
    margin-top:-25px;
}
#userInfo{
    margin-top:21px;
    width:300px;
    height:150px;
    position: absolute;
    right:200px;
    top:50px;
    font-size: 16px;
    color:blue;
    background-color: #eee;
}
.content-wrap{
    position: absolute;
    left:160px;
    width:831px;
}
.content-wrap>div{
    margin-top:30px;
    text-align: center;
    position: relative;
    display: inline-block;
    width:830px;
    height:220px;
    background-color: #eee;
    overflow: hidden;
}
.content-wrap>div span{
    color:#2aabd2;
}
.content-wrap p{
    text-indent: 2em;
    height:60px;
    width:800px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.content-wrap button{
    position: absolute;
    bottom: 20px;
    left:20px;
    border:0;
    border-radius: 5px;
    width:100px;
    height:30px;
    background-color: #FF5722;
    font-weight: bold;
    color:white;
}
#content{
    margin-left:100px;
    width: 700px;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
}
#comments{
    margin-top:50px;
    position: relative;
    margin-left:100px;
    width:700px;
}
#comments .first{
    height:50px;
}
#comments input{
    width:700px;
    height:50px;
}
#comments button{
    position: absolute;
    left:600px;
    top:50px;
    width:100px;
    height:50px;
    border: 0;
    background-color: #2aabd2;
    color:white;
}
#comments .remind{
    margin-top:20px;
    text-align: center;
    font-size:16px;
    line-height: 30px;
    height:30px;
    background-color: #afd9ee;
}
#comments li{
    list-style: none;
    height:60px;
}